extends layout

mixin colorPlate(target)
  .dropdown(id=target)
    button.btn.btn-default.dropdown-toggle(
      type='button'
      title='選擇顏色'
      data-toggle='dropdown'
    )
      span.caret(style='padding:0;margin:0;')
    ul.dropdown-menu.colorPlate
      li(style='background-color:red;color:red') red
      li(style='background-color:orange;color:orange') orange
      li(style='background-color:yellow;color:yellow') yellow
      li(style='background-color:green;color:green') green
      li(style='background-color:blue;color:blue') blue
      li(style='background-color:purple;color:purple') purple
      li(style='background-color:white;color:white') white
      li(style='background-color:black;color:black') black

block main
  .contentCeil.d-flex.flex-column.justify-content-center.align-content-around
    form#articleForm(action='/publishArticle' method='post' onsubmit='return populateContent()')
      input(type='hidden' name='_csrf' value=csrfToken)
      input(
        type='hidden'
        name='id'
        value=(article===undefined ? '' : article.id ? article.id : '' )
      )
      input(type='hidden' name='publisher' value=member.id)
      .input-group.mb-2.ml-3(style='width:35%')
        .input-group-prepend
          label.input-group-text.fieldName(for='category') 文章類別
        select.custom-select#category(
          name='category' 
          required
        )
          option(value='') --相關分類--
          option(value='behavior') 行為相關
          option(value='health') 健康相關
          option(value='food') 食物偏好
          option(value='entertainment') 娛樂推薦
      .input-group.mb-2.ml-3
        .input-group-prepend
          label.input-group-text.fieldName(for='title') 文章標題 
        input.form-control.col-7#title(
          type="text" 
          name='title'
          data-toggle="tooltip"
          title="字數限制: 1~20" 
          pattern=".{1,20}"
          value=(article===undefined ? '' : article.title)
          required
        )
      textarea#article(name='article' style='display:none')
    #textEditor
      #writeField(contenteditable='true')
        div: br
    .textFuncBtn
      .text-center.fontStyleBtn
        img#imgInsert(src='/images/insertImg.png' width='72' height='72' alt='插入圖片' title='插入圖片')
      .text-center.fontStyleBtn
        .carousel#indentBtn(data-ride="carousel" data-interval="false")
          .carousel-inner
            .carousel-item.active
              img#indent(src='/images/indent.png' width='72' height='72' alt='縮排' title='縮排')
            .carousel-item
              img#unIndent(src='/images/unIndent.png' width='72' height='72' alt='取消縮排' title='取消縮排')
          .carousel-control-next(href="#indentBtn" data-slide="next" title='切換' style='cursor:pointer')
            span.carousel-control-next-icon
      .text-center.fontStyleBtn
        .carousel#alignBtn(data-ride="carousel" data-interval="false")
          .carousel-inner
            .carousel-item.active
              img#left(src='/images/alignLeft.png' width='72' height='72' alt='靠左對齊' title='靠左對齊')
            .carousel-item
              img#center(src='/images/alignCenter.png' width='72' height='72' alt='置中對齊' title='置中對齊')
            .carousel-item
              img#right(src='/images/alignRight.png' width='72' height='72' alt='靠右對齊' title='靠右對齊')
          .carousel-control-next(href="#alignBtn" data-slide="next" title='切換' style='cursor:pointer')
            span.carousel-control-next-icon
      .text-center.fontStyleBtn(style='position:relative;')
        img#size(src='/images/height.png' width='72' height='72' alt='字體大小' title='字體大小')
        .dropdown#fontSize
          button.btn.btn-default.dropdown-toggle(
            type='button'
            title='選擇大小'
            data-toggle='dropdown'
          )
            span.caret(style='padding:0;margin:0;')
          .dropdown-menu.sizeVal
            .dropdown-item(style='font-size:12px;') 12px
            .dropdown-item(style='font-size:16px;') 16px
            .dropdown-item(style='font-size:24px;') 24px
            .dropdown-item(style='font-size:32px;') 32px
            .dropdown-item(style='font-size:40px;') 40px
      .text-center.fontStyleBtn
        img#bold(src='/images/bold.png' width='72' height='72' alt='粗體' title='粗體')
      .text-center.fontStyleBtn
        img#italic(src='/images/italic.png' width='72' height='72' alt='斜體' title='斜體')
      .text-center.fontStyleBtn
        img#underLine(src='/images/underline.png' width='72' height='72' alt='底線' title='底線')
      .text-center.fontStyleBtn
        img#deleteLine(src='/images/deleteline.png' width='72' height='72' alt='刪除線' title='刪除線')
      .text-center.fontStyleBtn(style='position:relative;')
        img#fontColor(src='/images/color.png' width='72' height='72' alt='字體顏色' title='字體顏色')
        +colorPlate('font')
      .text-center.fontStyleBtn(style='position:relative;')
        img#bgColor(src='/images/highlight.png' width='72' height='72' alt='背景顏色' title='背景顏色')
        +colorPlate('background') 
      .text-center.fontStyleBtn
        img#rmStyle(src='/images/clearFormatting.png' width='72' height='72' alt='清除風格' title='清除風格')
    .mt-2.text-right
        button.btn.btn-success(type='submit' form='articleForm') 完成送出
  .modal.fade#alert
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          h3.modal-title Tang-Tang の 小提醒
        .modal-body
          if error
            p#emptyAlert.text-danger  #{error[0]}
          else
            p#emptyAlert.text-danger
        .modal-footer
          button.btn.btn-primary(type='button' data-dismiss='modal') Close
  .modal.fade#imgUpload
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          h3.modal-title 上傳圖片
        .modal-body
            - const url = `/publishArticle/insertImg/?_csrf=${csrfToken}`
            form.previewImg#insertImgUpload(action=url method="post" enctype="multipart/form-data")
              input#owner(type='hidden' name='owner' value=member.id)
              input#imgName(type='hidden' name='imgName')
              label.imgUpload.unselectable(for='insertImg' style='font-size:1.6rem') 
                i 點此上傳圖片...
              input#insertImg(type='file' name='insertImg' accept="image/*")  
        .modal-footer
          button.btn.btn-success#insertComfirm(type='button' data-dismiss='modal') 插入圖片

  script.
    function populateContent() {
      if (!$('#writeField').html()) {
        $('#emptyAlert').html('<b>文章尚未填寫!!!</b>');
        $('#alert').modal('show');
        return false;
      }
      // populate the textarea with user's edited content
      $('#article').val($('#writeField').html());
      return true;
    }

    function findSelectIndex(range) {
      const childList = $('#writeField').children();
      let s = null;
      let e = null;
      for (let i = 0; i < childList.length; i += 1) {
        if (childList[i].contains(range.startContainer)) {
          s = i;
        }
        if (childList[i].contains(range.endContainer)) {
          e = i;
          break;
        }
      }
      
      
      return {startIndex: s, endIndex: e};
    }

    function indentContent(indent) {
      const select = window.getSelection();
      for (let i = 0; i < select.rangeCount; i += 1) {
        const range = select.getRangeAt(i);
        let childList = $('#writeField').contents();
        if (childList[0].nodeName !== 'DIV') {
          $('#writeField').contents().wrapAll('<div></div>');
          childList = $('#writeField').children();
        }
        const { startIndex, endIndex } = findSelectIndex(range);
        for (let j = startIndex; j <= endIndex; j += 1) {
          if (indent) $(childList[j]).contents().wrapAll('<blockquote></blockquote>');
          else $(childList[j]).find('blockquote').first().contents().unwrap();
        }
      }
    }

    function alignContent(pattern) {
      const select = window.getSelection();
      for (let i = 0; i < select.rangeCount; i += 1) {
        const range = select.getRangeAt(i);
        let childList = $('#writeField').contents();
        if (childList[0].nodeName !== 'DIV') {
          $('#writeField').contents().wrap('<div></div>');
          childList = $('#writeField').children();
        }
        const { startIndex, endIndex } = findSelectIndex(range);
        for (let j = startIndex; j <= endIndex; j += 1) {
          $(childList[j]).css('text-align', pattern);
        }
      }
    }

    function setSize() {
      fontSize = $(this).css('font-size');
      $('.sizeVal div').css('border', 'none');
      $(this).css('border', '1px solid red');
    }

    function setColor() {
      const color = $(this).text();
      if ($(this).parent().parent().attr('id') === 'font') {
        fontColor = color;
      } else bgColor = color;
      $(this).parent().parent().parent().css('background-color', color);
    }

    function editStyle() {
      switch($(this).attr('id')) {
        case 'imgInsert':
          insertImgSrc = '';
          $('.previewImg').css('background-image', 'none');
          $('#insertImg').attr('value', '');
          $('#imgUpload').modal('show');
        break;
        case 'indent':
          indentContent(true);
        break;
        case 'unIndent':
          indentContent(false);
        break;
        case 'left':
          alignContent('left');
        break;
        case 'center':
          alignContent('center');
        break;
        case 'right':
          alignContent('right');
        break;
        case 'size':
          if (fontSize) changeStyle("SPAN", "font-size", fontSize);
        break;
        case 'bold':
          changeStyle("B");
        break;
        case 'italic':
          changeStyle("I");
        break;
        case 'underLine':
          changeStyle("U");
        break;
        case 'deleteLine':
          changeStyle("DEL");
        break;
        case 'fontColor':
          if (fontColor) changeStyle("SPAN", "color", fontColor);
        break;
        case 'bgColor':
          if (bgColor) changeStyle("SPAN", "background-color", bgColor);
        break;
        case 'rmStyle':
          changeStyle();
        break;
      }
    }

    function BtnClickStyle(element, c, b, p) {
      const btn = $(element).parents('.fontStyleBtn');
      let color;
      if (element.id === 'fontColor') color = fontColor;
      else if (element.id === 'bgColor') color = bgColor;
      else color = c;
      $(btn).css(
        {
          "background-color": color,
          'border': b,
          'padding': p
        }
      );
    }

    function previewImg() {
      if (this.files[0]) {
        const reader = new FileReader();
        reader.onload = function (e) {
          insertImgSrc = e.target.result;
          $('.previewImg').css({
            'background-image':`url(${insertImgSrc})`,
            'background-repeat': 'no-repeat',
            'background-position': 'center center',
            'background-size': 'auto 100%'
          });
        };
        reader.readAsDataURL(this.files[0]);
      }
    }

    function insertImg() {
      if (insertImgSrc) {
        // set insertImg name
        const now = new Date();
        const memberName = '#{member.name}';
        const imgName = `${memberName}-${now.valueOf()}`;
        $('#imgName').val(imgName);

        const form = $('#insertImgUpload');
        const formData = new FormData(form.get(0));
        const url = form.attr('action');
        
        // upload img inserted in article
        $.ajax({
          method: 'POST',
          type: 'POST',
          url: url,
          contentType: false,
          cache: false,
          processData: false,
          data: formData})
          .done(function (data) {
            const insert = document.createElement("img");
            insert.src = `/publishArticle/insertImg/${imgName}`;
            $(insert).css({
              'max-width':'100%',
              'max-height':'100%',
            });

            // insert img at the position of caret 
            const select = window.getSelection();
            const range = select.getRangeAt(0);
            const content = $('#writeField').contents();
            const parent = $('#writeField').get(0);

            if (parent.contains(range.startContainer) && parent.contains(range.endContainer)) {
              range.deleteContents();
              range.insertNode(insert);
              for (let i = 0; i < content.length; i += 1) {
                if (content[i].textContent === '') {
                  if (content[i].nodeName !== 'IMG') parent.removeChild(content[i]);
                }
              }
            } else $('#writeField').append(insert);
          })
          .fail(function() {
            alert('圖片上傳失敗 請重新嘗試!!!');
          });
      }
    }

    $(document).ready(function () {
      let fontColor = '';
      let bgColor = '';
      let fontSize = '';
      let insertImgSrc = '';
     
      const category = '#{article.category}';
      const content = '!{article.content}';
      if (category) $('#category').val(category);
      if (content) $('#writeField').html(content);
      

      if ($('#emptyAlert').text()) $('#alert').modal('show');
      $('[data-toggle="tooltip"]').tooltip({placement: "top", trigger: "focus"});
      $('.sizeVal div').on('click', setSize);
      $('.colorPlate li').on('click', setColor);
      $('.fontStyleBtn img').on('click', editStyle);
      $('.fontStyleBtn img').on('mousedown', function(event) {
        BtnClickStyle(event.target, '#b3b0ac', '0.2rem inset #aaa7a3', '0.1rem');
      });
      $('.fontStyleBtn img').on('mouseup', function(event) {
        BtnClickStyle(event.target, '', '0.3rem outset #cac9c7', '');
      });
      $('#insertImg').on('change', previewImg);
      $('#insertComfirm').on('click', insertImg);
    });