extends layout

block main
  each article in articleList
    button.btn.btn-lg.article-btn.mt-1(
      class=`${article.category}`
      style='height:3.5rem'
    ) 
      .titleText ðŸ“ ã€#{article.title}ã€‘
    .contentCeil.my-2
      .articleInfo.mb-3
        img.userIcon(
          src=`/forum/member/${article.author.id}`
          style='width:20%'
        )
        table.table.table-bordered(style='width:75%')
          tbody
            tr
              th æ¨™é¡Œ 
              td #{article.title}
            tr
              th æ–‡ç« ç™¼ä½ˆè€… 
              td #{article.author.name}
            tr
              th ç™¼ä½ˆæ—¥æœŸ 
              td #{article.publishDate}
      div
        != article.content
      .text-right.mt-2
        if member && member.id === article.author.id
          button.btn.delBtn(id=article.id type='button' title='åˆªé™¤æ–‡ç« ')
            i.fas.swingFont(style='font-size:48px;color:gray') &#xf2ed;
          a.btn(href=`/publishArticle/${article.id}` title='ç·¨è¼¯æ–‡ç« ')
            i.far.swingFont(style='font-size:48px;color:red') &#xf044;
        button.btn.reBtn(type='button' title='æ”¶èµ·æ–‡ç« ')
          i.fas.tdMoveFont(style='font-size:48px;color:green') &#xf139;
  #screenMask
  .modal#deleteAlert
    .modal-dialog.modal-sm.modal-dialog-centered
      .modal-content
        .modal-header
          h4(style='color:red')
            i.fas &#xf071;
            |  Warning
        .modal-body
          input#articleId(type='hidden' value='')
          .text-center æ˜¯å¦åˆªé™¤æª”æ¡ˆ
          .text-center.mt-3
            button.btn.btn-danger.mr-3#delArticle(type='button') ç¢ºå®š
            button.btn.btn-secondary.ml-3(type='button' data-dismiss='modal') å–æ¶ˆ
  script.
    $(document).ready(function () {
      function toggleArticle() {
        $($(this).next()).slideToggle();
      }

      function retractArticle() {
        $(this).parents('.contentCeil').slideToggle();
      }
      
      $('.article-btn').hide();
      $('.mainArea').css({
        'padding-top':'5%',
        'justify-content':'flex-start'
      });
      $('.article-btn').on('click', toggleArticle);

      $('.delBtn').on('click', function () {
        $('#deleteAlert').modal('show')
        $('#articleId').val($(this).attr('id'));
      });

      $('#delArticle').on('click', () => {
        const token = '#{csrfToken}';
        const location = window.location.href;
        $.ajax({
          method: 'POST',
          type: 'POST',
          url: `/forum/deleteArticle?_csrf=${token}`,
          data: { articleId: $('#articleId').val() }
        })
          .always((msg) => {
            alert(msg);
            $('#screenMask').show();
            window.location.replace(location);
          });
      });

      $('.reBtn').on('click', retractArticle);
    });
    