extends layout

mixin colorPlate(target)
  .dropdown(id=target)
    button.btn.btn-default.dropdown-toggle(
      type='button'
      title='選擇顏色'
      data-toggle='dropdown'
    )
      span.caret(style='padding:0;margin:0;')
    ul.dropdown-menu.colorPlate
      li(style='background-color:red;color:red') red
      li(style='background-color:orange;color:orange') orange
      li(style='background-color:yellow;color:yellow') yellow
      li(style='background-color:green;color:green') green
      li(style='background-color:blue;color:blue') blue
      li(style='background-color:purple;color:purple') purple
      li(style='background-color:white;color:white') white
      li(style='background-color:black;color:black') black

block main
  - const articleForJS = article===undefined ? '' : article;
  .contentCeil.d-flex.flex-column.justify-content-center.align-content-around
    form#articleForm(action='/publishArticle' method='post' onsubmit='return populateContent()')
      input(type='hidden' name='_csrf' value=csrfToken)
      input(
        type='hidden'
        name='id'
        value=(article===undefined ? '' : article.id ? article.id : '' )
      )
      input(type='hidden' name='publisher' value=member.id)
      .input-group.mb-2.ml-3(style='width:35%')
        .input-group-prepend
          label.input-group-text.fieldName(for='category') 文章類別
        select.custom-select#category(
          name='category' 
          required
        )
          option(value='') --相關分類--
          option(value='behavior') 行為相關
          option(value='health') 健康相關
          option(value='food') 食物偏好
          option(value='entertainment') 娛樂推薦
      .input-group.mb-2.ml-3
        .input-group-prepend
          label.input-group-text.fieldName(for='title') 文章標題 
        input.form-control.col-7#title(
          type="text" 
          name='title'
          data-toggle="tooltip"
          title="字數限制: 1~20" 
          pattern=".{1,20}"
          value=(article===undefined ? '' : article.title)
          required
        )
      textarea#article(name='article' style='display:none')
    #textEditor
      #writeField(contenteditable='true')
    .textFuncBtn.unselectable
      .text-center.fontStyleBtn
        img#imgInsert(src='/images/insertImg.png' width='72' height='72' alt='插入圖片' title='插入圖片')
      .text-center.fontStyleBtn
        .carousel#indentBtn(data-ride="carousel" data-interval="false")
          .carousel-inner
            .carousel-item.active
              img#indent(src='/images/indent.png' width='72' height='72' alt='縮排' title='縮排')
            .carousel-item
              img#unIndent(src='/images/unIndent.png' width='72' height='72' alt='取消縮排' title='取消縮排')
          .carousel-control-next(href="#indentBtn" data-slide="next" title='切換' style='cursor:pointer')
            span.carousel-control-next-icon
      .text-center.fontStyleBtn
        .carousel#alignBtn(data-ride="carousel" data-interval="false")
          .carousel-inner
            .carousel-item.active
              img#left(src='/images/alignLeft.png' width='72' height='72' alt='靠左對齊' title='靠左對齊')
            .carousel-item
              img#center(src='/images/alignCenter.png' width='72' height='72' alt='置中對齊' title='置中對齊')
            .carousel-item
              img#right(src='/images/alignRight.png' width='72' height='72' alt='靠右對齊' title='靠右對齊')
          .carousel-control-next(href="#alignBtn" data-slide="next" title='切換' style='cursor:pointer')
            span.carousel-control-next-icon
      .text-center.fontStyleBtn(style='position:relative;')
        img#size(src='/images/height.png' width='72' height='72' alt='字體大小' title='字體大小')
        .dropdown#fontSize
          button.btn.btn-default.dropdown-toggle(
            type='button'
            title='選擇大小'
            data-toggle='dropdown'
          )
            span.caret(style='padding:0;margin:0;')
          .dropdown-menu.sizeVal
            .dropdown-item(style='font-size:12px;') 12px
            .dropdown-item(style='font-size:16px;') 16px
            .dropdown-item(style='font-size:24px;') 24px
            .dropdown-item(style='font-size:32px;') 32px
            .dropdown-item(style='font-size:40px;') 40px
      .text-center.fontStyleBtn
        img#bold(src='/images/bold.png' width='72' height='72' alt='粗體' title='粗體')
      .text-center.fontStyleBtn
        img#italic(src='/images/italic.png' width='72' height='72' alt='斜體' title='斜體')
      .text-center.fontStyleBtn
        img#underLine(src='/images/underline.png' width='72' height='72' alt='底線' title='底線')
      .text-center.fontStyleBtn
        img#deleteLine(src='/images/deleteline.png' width='72' height='72' alt='刪除線' title='刪除線')
      .text-center.fontStyleBtn(style='position:relative;')
        img#fontColor(src='/images/color.png' width='72' height='72' alt='字體顏色' title='字體顏色')
        +colorPlate('font')
      .text-center.fontStyleBtn(style='position:relative;')
        img#bgColor(src='/images/highlight.png' width='72' height='72' alt='背景顏色' title='背景顏色')
        +colorPlate('background') 
      .text-center.fontStyleBtn
        img#rmStyle(src='/images/clearFormatting.png' width='72' height='72' alt='清除風格' title='清除風格')
    .mt-2.text-right
        button.btn.btn-success(type='submit' form='articleForm') 完成送出
  .modal.fade#alert
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          h3.modal-title Tang-Tang の 小提醒
        .modal-body
          if error
            p#emptyAlert.text-danger  #{error[0]}
          else
            p#emptyAlert.text-danger
        .modal-footer
          button.btn.btn-primary(type='button' data-dismiss='modal') Close
  .modal.fade#imgUpload
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          h3.modal-title 上傳圖片
        .modal-body
            - const url = `/publishArticle/insertImg/?_csrf=${csrfToken}`
            form.previewImg#insertImgUpload(action=url method="post" enctype="multipart/form-data")
              input#owner(type='hidden' name='owner' value=member.id)
              input#imgName(type='hidden' name='imgName')
              label.imgUpload.unselectable(for='insertImg' style='font-size:1.6rem') 
                i 點此上傳圖片...
              input#insertImg(type='file' name='insertImg' accept="image/*")  
        .modal-footer
          button.btn.btn-success#insertComfirm(type='button' data-dismiss='modal') 插入圖片
  script.
    // get req argument for js file
    const alreadyStore = #{alreadyStore};
    const articleJS = !{JSON.stringify(articleForJS)};
    const memberName = '#{member.name}';
  script
    include ../public/javascripts/articleEditor.js