extends layout

block main
  #photoAlbum(style='cursor:grab;')
    .hard.frontCover#albumTitle TangTang's photos
    .hard.frontBack
    - for (let i = 0; i < photoList.length; i += 1)
      .contentPage.unselectable
        if i % 2
          span.bookmark.swingFont.rightAlign(title='加入書籤')
            i.far &#xf005;
          span.pageNum.leftAlign #{i + 1}
          if member && member.id === photoList[i].provider.toString()
            span.deleteBtn.swingFont.rightAlign(title='剪下照片')
              i.fas &#xf0c4;
        else
          span.bookmark.swingFont.leftAlign(title='加入書籤')
            i.far &#xf005;
          span.pageNum.rightAlign #{i + 1}
          if member && member.id === photoList[i].provider.toString()
            span.deleteBtn.swingFont.leftAlign(title='剪下照片')
              i.fas &#xf0c4;
        if photoList[i].url
          img.photo(id=photoList[i].id src=photoList[i].url width='70%' style='cursor:zoom-in;')
        else
          img.photo(id=photoList[i].id src=`/photoAlbum/photo/${photoList[i].id}` width='70%' style='cursor:zoom-in;')
    if photoList.length % 2
      .contentPage
    .hard.endBack
    .hard.endCover
  .text-center.mt-4#albumControl
    if member
      button.btn.btn-danger.mr-1#delPhotos(title='刪除圖片')
        i.fas &#xf2ed;
      button.btn.btn-primary.mr-1#addPhotos(title='新增圖片')
        i.fas &#xf093;
    else
      a.btn.btn-secondary.mr-1(href='/photoAlbum/getPremission' title='新增圖片')
        i.fas &#xf093;
    button.btn.btn-success.mr-1#prePage(title='上一頁') 
      i.fas &#xf137;
    button.btn.btn-success.mr-1#nextPage(title='下一頁') 
      i.fas &#xf138;
    .btn(style='padding:0')
      .input-group.input-group-lg
        .input-group-prepend
          lable.input-group-text.fieldName(for='pages') 跳轉頁面
        div(style='position:relative')
          select.custom-select#pages(name='pages' data-live-search="true")
            option(value='-1') 封面
            - for (let i = 1; i <= photoList.length; i += 1) 
              option(value=`${i}`) #{i}
            option(value=`${photoList.length + 2 + photoList.length % 2}`) 封底
  #screenMask
    .d-flex.justify-content-center.align-items-center(style='height:100%;')
      span.spinner-border.text-primary(style='width:4rem;height:4rem;')
      span.display-1#loadingMsg  圖片加載中.....
  .modal#photoAlert
    .modal-dialog.modal-dialog-centered
      .modal-content
        .modal-header
          if success.toString()
            h3.modal-title Tang-Tang の 小提醒
          else
            h3.modal-title ⚠️ 錯誤訊息
        .modal-body
          if success.toString()
            .alert.alert-success#okMsg #{success}
          else
            .alert.alert-danger#errMsg #{failure}
        .modal-footer
          button.btn.btn-danger(type='button' data-dismiss='modal') 關閉
  .modal#zoomImg
    .modal-dialog.modal-lg.modal-dialog-centered.modal-dialog-scrollable
      .modal-content
        .modal-header
          h3.modal-title TangTang の photo
        .modal-body.text-center
          img#showZoomImg(src='' style='max-width:100%;max-height:100%;')
        .modal-footer
          button.btn.btn-danger(type='button' data-dismiss='modal') 關閉
  if member
    .modal#addImg
      .modal-dialog.modal-lg.modal-dialog-centered
        .modal-content
          .modal-header
            ul.nav.nav-pills(role='tablist')
              li.nav-item: a.nav-link.active#fileInput(data-toggle='pill' href='#localPaste') 本地上傳
              li.nav-item: a.nav-link#urlInput(data-toggle='pill' href='#urlPaste') 網址連結
          .modal-body.d-flex.justify-content-center
            .tab-content(style='width:100%;')
              #localPaste.unselectable.container.tab-pane.active
                form#photoUpload(
                  action=`/photoAlbum/imgFile?_csrf=${csrfToken}`
                  method="post" 
                  enctype="multipart/form-data" 
                  style='width:100%;height:100%;'
                )
                  label.imgUpload#uploadNotice(for='photos')
                    span.flashingWord 點此上傳圖片(數量上限:5 單檔大小上限:10MB) 
                    i.fas.cloudIcon &#xf382;
                    i.fas.arrowIcon &#xf102;
                  input#photos(type="file" name="photos" accept="image/*" multiple required)
                  input(type='hidden' name='provider' value=member.id)
              #urlPaste.container.tab-pane
                form#urlUpload(action=`/photoAlbum/imgUrl` method="post")
                  .input-group.d-flex.justify-content-center
                    .input-group-prepend
                      label.input-group-text.fieldName(for='photo') 圖片來源
                    input#photo(
                      type="text" 
                      name="photo" 
                      style='width:60%'
                      data-toggle="tooltip"
                      title="請輸入有效的圖片連結"
                      placeholder='⚠️ 只接受https網址連結!!!'
                      value=''
                      required
                    )
                  input(type='hidden' name='provider' value=member.id)
                  input(type='hidden' name='_csrf' value=csrfToken)
                .d-flex.justify-content-center.mt-3.unselectable
                  img#uploadPreview(src='/images/addImage.png' style='width:128px')
          .modal-footer.d-flex.justify-content-center
            button.btn.btn-success#uploadPhoto(type='button') 相片黏貼
    .modal#delImg
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-header
            h3.modal-title ⚠️ 刪除相片
          .modal-body
            p.text-danger.font-weight-bold.lead 確定要將已剪下的相片刪除?
            p.small.font-italic (點選相簿剪刀圖示即可剪下相片)
          .modal-footer.d-flex.justify-content-center
            button.btn.btn-danger#deletePhoto(type='button') 刪除
            button.btn.btn-secondary(type='button' data-dismiss='modal') 取消
  script.
    const encode = encodeURIComponent('#{csrfToken}');
  script
    include ../public/javascripts/albumHandler.js