extends layout

block main
  #photoAlbum(style='cursor:grab;')
    .hard.frontCover#albumTitle TangTang's photos
    .hard.frontBack
    - for (let i = 0; i < photoList.length; i += 1)
      .contentPage.unselectable
        if i % 2
          .bookmark.swingFont.rightAlign(title='åŠ å…¥æ›¸ç±¤')
            i.far &#xf005;
          span.pageNum.leftAlign #{i + 1}
        else
          .bookmark.swingFont.leftAlign(title='åŠ å…¥æ›¸ç±¤')
            i.far &#xf005;
          span.pageNum.rightAlign #{i + 1}
        img.photo(src=`/photoAlbum/photo/${photoList[i].id}` width='70%' style='cursor:zoom-in;')
    if member
      .contentPage
        #pastePhoto 
          - const url = `?_csrf=${csrfToken}`
          form#photoUpload(
            action=url 
            method="post" 
            enctype="multipart/form-data" 
            style='width:100%;height:100%'
          )
            label.imgUpload(for='photos' title='é»žæ­¤ä¸Šå‚³åœ–ç‰‡') 
              i.fas.cloudIcon &#xf382;
              i.fas.arrowIcon &#xf102;
            input#photos(type="file" name="photos" accept="image/*" multiple required)
            input#provider(type='hidden' name='provider' value=member.id)
        .mt-3.text-center
          button.btn.btn-success(type='submit' form='photoUpload') ç¢ºèªå‚³é€
    if (member && !(photoList.length % 2)) || (!member && (photoList.length % 2))
      .contentPage
    .hard.endBack
    .hard.endCover
  .text-center.mt-5#albumControl
    button.btn.btn-primary.mr-1#addPhotos(title='æ–°å¢žåœ–ç‰‡')
      i.fas &#xf093;
    button.btn.btn-success.mr-1#prePage(title='ä¸Šä¸€é ') 
      i.fas &#xf137;
    button.btn.btn-success.mr-1#nextPage(title='ä¸‹ä¸€é ') 
      i.fas &#xf138;
    .btn(style='padding:0')
      .input-group.input-group-lg
        .input-group-prepend
          lable.input-group-text.fieldName(for='pages') è·³è½‰é é¢
        div(style='position:relative')
          select.custom-select#pages(name='pages' data-live-search="true")
            - for (let i = 1; i <= photoList.length; i += 1) 
              option(value=`${i}`) #{i}
  .modal#zoomImg
    .modal-dailog.modal-lg.modal-dialog-scrollable#modal
      .modal-content
        .modal-header
          h3.modal-title TangTang ã® photo
        .modal-body.text-center
          img#showZoomImg(src='' style='max-width:100%;max-height:100%;')
        .modal-footer
          button.btn.btn-danger(type='button' data-dismiss='modal') é—œé–‰
  script.
    let show = true;
    const insideAlbum = $("#photoAlbum").html();

    function magnifyPhoto() {
      $('#showZoomImg').attr('src', $(this).attr('src'));
      $('#zoomImg').modal('show');
      const modal = $('#modal').get(0);
      const topOffset = (window.innerHeight - modal.offsetHeight) / 2;
      const leftOffset = (window.innerWidth - modal.offsetWidth) / 2 ;
      $('#zoomImg').css({
        "position":"absolute",
        "top":`${topOffset}px`,
        "left":`${leftOffset}px`
      });
    }

    $(document).ready(function(){
      if (window.innerWidth > 900) {
        $("#photoAlbum").turn({
          width: '70%',
          height: '50vh',
          autoCenter: true
        });
      } else show = false;

      $('#addPhotos').on('click', function () {
        const pages = $("#photoAlbum").turn("pages");
        const numofAddPhotos = #{photoList.length} % 2 ? pages - 2 : pages - 4 ;
        $("#photoAlbum").turn("page", numofAddPhotos);
      });

      $('#prePage').on('click', function () {
        $("#photoAlbum").turn("previous");
      });

      $('#nextPage').on('click', function () {
        $("#photoAlbum").turn("next");
      });
      
      $('#pages').on('focus', function () {this.size = 3;});
      $('#pages').on('blur', function () {this.size = 1;});
      $('#pages').on('change', function () {
        this.size = 1;
        this.blur();
        const targetPage = parseInt(this.value) + 2;
        $("#photoAlbum").turn('page', targetPage);
      });

      if (window.innerWidth <= 850) $('.photo').on('click', magnifyPhoto);
    });

    $(window).resize(function() {
      if (window.innerWidth > 850) {
        if (show) $("#photoAlbum").turn('size', '70%', '50vh');
        else {
          $("#photoAlbum").turn({
            width: '70%',
            height: '50vh',
            autoCenter: true
          });
          show = true;
        }
      } else {
        if (show) {
          $("#photoAlbum").turn("destroy").remove();
          const e = document.createElement('div');
          $(e).attr('id', "photoAlbum");
          $(e).html(insideAlbum);
          $('#zoomImg').before(e);
          show = false;
          setTimeout(() => window.location.reload());
        }
      } 
    });

    $("#photoAlbum").bind("turned", function(event, page, view) {
      $('.photo').off('click');
      $('.bookmark').off('click');

      $('.photo').on('click', magnifyPhoto);
      
      $('.bookmark').on('click', function () {
        const pageNum = $(this).next().text();
        if ($(this).find('i').is('.far')) {
          $(this).empty().append('<i class="fas">&#xf005;</i>');
          $(this).css('color', 'orange');
          $(this).attr('title', 'å–æ¶ˆæ›¸ç±¤');
          $('#pages > option').eq(pageNum - 1).text(`${pageNum}  ðŸŒŸ`);
        } else {
          $(this).empty().append('<i class="far">&#xf005;</i>');
          $(this).css('color', 'black');
          $(this).attr('title', 'åŠ å…¥æ›¸ç±¤');
          $('#pages > option').eq(pageNum - 1).text(pageNum);
        }        
      });
  
    });